@model CognitiveServices.Models.EmoPicture


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div>
    <h4>EmoPicture</h4>
    <hr />
    <div class="col-lg-10">
        <canvas id="canvas" style="position:absolute"></canvas>
        <img src="~/@Html.DisplayFor(model => model.Path)" class="img-responsive" alt="Alternate Text" id="imagen" />
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript">
    var imagen = document.getElementById('imagen');
    var canvas = document.getElementById("canvas"),
        lienzo = canvas.getContext("2d");
    canvas.setAttribute("height", Math.ceil(imagen.height));
    canvas.setAttribute("width", Math.ceil(imagen.width));

    
    @foreach (var item in ViewBag.lista)
    {

        if (item.EmoPictureId == Model.Id)
        {
            <text>
    lienzo.beginPath();
    lienzo.lineWidth = "10";
    lienzo.strokeStyle = "red";
    lienzo.rect(@(item.X), @(item.Y), @(item.Width), @(item.Height));
    lienzo.stroke();
    lienzo.closePath();
    console.log(@(item.Id))
    console.log(@(item.X))
    console.log(@(item.Y))
    console.log(@(item.Width))
    console.log(@(item.Height))
            </text>
        }


    }
</script>

   



